
@{
    ViewData["Title"] = "About";
}
<div class="background" id="about">
    <div class=" = banner">
        <h2>This is me!</h2>
        <img class="thirdOfPage" src="~/images/Photos/DSCF2408.JPG" />

    </div>
</div>
