
@{
    ViewBag.Title = "Home Page";
}

    <div class="background" id="home" >
        <div class="banner" id="banner-home">
            <div class="banner-header" id="banner-logo">
                <img id="logo" src="~/images/logo/logo2.png" />
            </div>
            <div class="banner-content">
                <h2>This is a website for me!</h2>
                <a href="#" class="button" id="begin-button">Begin</a>
            </div>
        </div>
        <div class="banner" id="banner-begin">
            <div class="banner-header" id="begin-question">
                <h2>Where would you like to go?</h2>
            </div>
            <div class="banner-content" id="banner-icons">
                <a href="/app/gym">
                    <img class="banner-icon-50" src="~/images/icons/gym-near.png" />
                </a>
                <a href="/app/travel">
                    <img class="banner-icon-50" src="~/images/icons/earth.png" />
                </a>
                <a href="/app/food">
                    <img class="banner-icon-50" src="~/images/icons/restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle.png" />
                </a>
                <a href="/app/about">
                    <img class="banner-icon-50" href="About" src="~/images/icons/avatar-inside-a-circle.png" />
                </a>
            </div>
        </div>
    </div>
    <div id="footer">
        <a>
            Icons from www.flaticon.com, licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>, authors
            <a href="http://www.freepik.com" title="Freepik">Freepik</a>,
            <a href="https://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a> and
            <a href="https://www.flaticon.com/authors/nice-and-serious" title="Nice and Serious">Nice and Serious</a>
        </a>
    </div>
  