
@{
    ViewData["Title"] = "_Layout";
}


@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Mirberry:  @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/gren-tree.png" />
</head>
<body>
    <section>
        <nav class="header">
            <div>
                <img id="header-logo" src="~/images/logo2.png" />
            </div>
            <ul id="header-drop">
                <li><a href="Home">HOME</a></li>
                <li><a href="Gym">GYM</a></li>
                <li><a href="Travel">TRAVEL</a></li>
                <li><a href="Food">FOOD</a></li>
                <li><a href="/App/About">ABOUT</a></li>
            </ul>
        </nav>
        @RenderBody()
    </section>
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>