
@{
    ViewData["Title"] = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Mirberry</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo/gren-tree.png" />
</head>
<body>
    <section>
        <nav class="header">
            <div>
                <img id="header-logo" src="~/images/logo/logo2.png" />
            </div>
            <ul id="header-drop">
                <li><a asp-controller="App" asp-action="Index">HOME</a></li>
                <li><a asp-controller="App" asp-action="Gym">GYM</a></li>
                <li><a asp-controller="App" asp-action="Travel">TRAVEL</a></li>
                <li><a asp-controller="App" asp-action="Food">FOOD</a></li>
                <li><a asp-controller="App" asp-action="About">ABOUT</a></li>
            </ul>
        </nav>
        <div id="#cover-all">
            @RenderBody()
        </div>
    </section>
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("sctipts", false)
</body>
</html>